@use "colors";
@use "base";

//Stránka Ubytování

//Paddingy
.accommodation__contain,
.accommodation2__contain,
.accommodation3__contain,
.accommodation4__contain {
  padding: base.$spacer;

  @media screen and (min-width: 540px) {
    padding: 0;
  }
}

.accommodation2__contain,
.accommodation3__contain {
  @media screen and (min-width: 540px) {
    //padding-bottom: base.$spacer;
  }
}

.accommodation4__contain {
  padding-bottom: 60px;

  @media screen and (min-width: 540px) {
    padding: 0;
  }
}

//Bílé pozadí
.accommodation2,
.accommodation4 {
  background-color: colors.$color-white;
}

//Ikony - flexbox
.accommodation__icon {
  width: 40px;
  height: 40px;
  margin-right: base.$spacer;
}

.accommodation__check-in,
.accommodation__check-out {
  display: flex;
  align-items: center;
}

.accommodation__flexbox {
  @media screen and (min-width: 960px) {
    display: flex;
  }
}

.accommodation__check-in {
  @media screen and (min-width: 960px) {
    margin-right: base.$spacer;
  }
}

//Pokoje, apartmány - grid
.accommodation2__grid,
.accommodation3__grid {
  @media screen and (min-width: 960px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: base.$spacer;
  }

  @media screen and (min-width: 960px) {
    gap: 60px;
  }
}

.accommodation2__grid-item3,
.accommodation3__grid-item3 {
  @media screen and (min-width: 960px) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.accommodation2__grid-item4,
.accommodation3__grid-item4 {
  @media screen and (min-width: 960px) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.accommodation2__image,
.accommodation3__image {
  padding-bottom: base.$spacer;

  @media screen and (min-width: 960px) {
    padding: 0;
  }
}

.accommodation2__image:last-child,
.accommodation3__image:last-child {
  @media screen and (min-width: 540px) {
    padding: 0;
  }
}

//Obrázky border a border-radius
.accommodation2__image-room {
  @media screen and (min-width: 540px) {
    border: 5px solid colors.$color-primary;
    border-radius: 0 100px 100px 100px;
  }
}

.accommodation2__image-room2 {
  @media screen and (min-width: 540px) {
    border: 5px solid colors.$color-primary;
    border-radius: 100px 100px 100px 0;
  }
}

.accommodation3__image-room {
  @media screen and (min-width: 540px) {
    border: 5px solid colors.$color-primary;
    border-radius: 0 100px 100px 100px;
  }
}

.accommodation3__image-room2 {
  @media screen and (min-width: 540px) {
    border: 5px solid colors.$color-primary;
    border-radius: 100px 100px 100px 0;
  }
}

//Tabulka ceník ubytování
.accommodation2__table,
.accommodation3__table {
  text-align: center;
  border-spacing: 0;
  padding: 0;
  width: 100%;

  @media screen and (min-width: 540px) {
    width: 60%;
  }

  @media screen and (min-width: 960px) {
    width: 100%;
  }
}

th,
td {
  border-bottom: 2px solid colors.$color-primary;
  padding: 10px 0px;
}

//Flexbox, tabulka
.accommodation3__flexbox-table {
  @media screen and (min-width: 960px) {
    display: flex;
  }
}

.accommodation3__flexbox-item-table {
  @media screen and (min-width: 960px) {
    flex: 0 0 50%;
    border: 3px solid colors.$color-primary;
    padding: 15px;
  }
}

.accommodation3__flexbox-item {
  @media screen and (min-width: 540px) {
    margin-top: 60px;
    padding-bottom: 0;
  }

  @media screen and (min-width: 960px) {
    margin-top: 0;
    margin-left: base.$spacer;
  }
}

//Ze sklepa do sklepa
.accommodation__zsds {
  border: colors.$color-primary 5px solid;
  padding: 30px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  max-width: 800px;
  text-align: center;
}

.accommodation__zsds p {
  margin: 0;
}

.accommodation2__information {
  padding-top: 30px;
  font-weight: bold;
}
