@use 'colors';
@use 'base';

//Stránka Ubytování

//Paddingy
.accommodation__contain,
.accommodation2__contain,
.accommodation3__contain {
  padding: base.$spacer;

  @media screen and (min-width: 540px) {
    padding: 0;
  }
}

//Bílé pozadí
.accommodation2 {
  background-color: colors.$color-white;
}

//Flexbox, ikony
.accommodation__icon {
  width: 50px;
  height: 50px;
  margin-right: base.$spacer;
}

.accommodation__check-in,
.accommodation__check-out {
  display: flex;
  align-items: center;
}

.accommodation__flexbox {
  @media screen and (min-width: 960px) {
    display: flex;
  }
}

.accommodation__check-in {
  @media screen and (min-width: 960px) {
    margin-right: base.$spacer;
  }
}

//Flexbox, pokoje
.accommodation2__flexbox {
  @media screen and (min-width: 540px) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.accommodation2__flexbox-item {
  @media screen and (min-width: 540px) {
    flex: 0 0 60%;
    padding-left: base.$spacer;
  }
}

.accommodation2__flexbox-image {
  padding-bottom: base.$spacer;

  @media screen and (min-width: 540px) {
    flex: 0 0 40%;
    margin: 0;
  }
}

.accommodation2__flexbox--margin-top {
  @media screen and (min-width: 540px) {
    margin-top: 60px;
  }
}

//Tabulka ceník ubytování
.accommodation3__table {
  text-align: center;
  border-spacing: 0;
  padding: 0;
  width: 100%;
}

th,
td {
  border-bottom: 2px solid colors.$color-primary;
  padding: 10px 0px;
}

//Flexbox, tabulka
.accommodation3__flexbox-table {
  @media screen and (min-width: 960px) {
    display: flex;
  }
}

.accommodation3__flexbox-item-table {
  @media screen and (min-width: 960px) {
    flex: 0 0 50%;
    border: 3px solid colors.$color-primary;
    padding: 15px;
  }
}

.accommodation3__flexbox-item {
  padding-bottom: 60px;

  @media screen and (min-width: 540px) {
    margin-top: 60px;
    padding-bottom: 0;
  }

  @media screen and (min-width: 960px) {
    margin-top: 0;
    margin-left: base.$spacer;
  }
}
