@use 'colors';
@use 'base';

//Stránka Ubytování

.accommodation {
  @media screen and (min-width: 960px) {
    padding-top: 200px;
  }
}

.accommodation2 {
  background-color: colors.$color-white;
}

//Nadpisy H1

.accommodation__headline {
  font-size: 25px;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 540px) {
    font-size: 30px;
    margin-bottom: base.$spacer;
  }

  @media screen and (min-width: 960px) {
    font-size: 35px;
  }
}

.accommodation__headline::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: colors.$color-primary;
  margin-top: base.$body-text;
}

//Padding a margin stránky

.accommodation__contain {
  padding: base.$spacer;

  @media screen and (min-width: 540px) {
    padding: 0;
  }
}



//Nadpisy H2
.accommodation__headline2 {
  font-size: 20px;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 540px) {
    font-size: 23px;
  }

  @media screen and (min-width: 960px) {
    font-size: 26px;
  }
}

.accommodation__headline2::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: colors.$color-primary;
  margin-top: base.$body-text;
}

//Ikony a divy check-in a check-out

.accommodation__icon {
  width: 50px;
  height: 50px;
  margin-right: base.$spacer;
}

.accommodation__check-in,
.accommodation__check-out {
  display: flex;
  align-items: center;
}

//Tabulka ceník ubytování

.accommodation__table {
  text-align: center;
  
  border-spacing: 0;
  padding: 0;
  width: 100%;
}

th,
td {
  border-bottom: 2px solid colors.$color-primary;

  padding: 10px 0px;
}

//Ubytování flexbox - fotka pokoje a apartmánu a popis pokojů a aprtmánů

.accommodation__flexbox {
  @media screen and (min-width: 540px) {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
  }
}

.accommodation__flexbox-item {
  @media screen and (min-width: 540px) {
    flex: 0 0 60%;
    padding-left: base.$spacer;
  }
}

.accommodation__flexbox-image {

  padding-bottom: base.$spacer;

  @media screen and (min-width: 540px) {
    flex: 0 0 40%;
    margin: 0;
  }
}

.accommodation__flexbox-table {
  @media screen and (min-width: 960px) {
    display: flex;
  }
}

.accommodation__flexbox-item-table{
  @media screen and (min-width: 960px) {
    flex: 0 0 60%;
    padding-right: base.$spacer;
  }
}
