@use 'colors';

//Breakpointy tablet (540px a více) a PC (960px a více)

//Nastavení parametrů písmo a rozměry
$spacer: 30px;
$body-text: 16px;
$default-font: "Merriweather", serif;

//Základní nastavení CSS
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

//Stylování body
body {
  font-family: $default-font;
  font-size: $body-text;
  color: colors.$color-black;
  background-color: colors.$color-grey;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

//Responzivní obrázky
img {
  width: 100%;
}

//Nadpisy h1, h1::after a h2::after
h1 {
  font-size: 25px;
  margin: 0;
  padding: 0;
  margin-bottom: $spacer;

  @media screen and (min-width: 540px) {
    font-size: 30px;
  }

  @media screen and (min-width: 960px) {
    font-size: 35px;
  }
}

h1::after,
h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: colors.$color-primary;
  margin-top: $body-text;
}

//Nadpisy h2, h2::after specifikace
h2 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: $spacer;

  @media screen and (min-width: 540px) {
    font-size: 26px;
  }

  @media screen and (min-width: 960px) {
    font-size: 28px;
  }
}

h2::after {
  width: 80px;
}

//Nadpisy h3
h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-size: 18px;

  @media screen and (min-width: 540px) {
    font-size: 19px;
  }

  @media screen and (min-width: 960px) {
    font-size: 20px;
  }
}

//Padding pro všechny sekce tablet a PC
section {
  @media screen and (min-width: 540px) {
    padding: 60px;
  }

  @media screen and (min-width: 960px) {
    padding: 90px;
  }
}
