@use "colors";
@use "base";

//Stránka Kontakt

//Paddings, margins stránky
.contact {
  padding: base.$spacer;

  @media screen and (min-width: 540px) {
    padding: 60px;
  }

  @media screen and (min-width: 960px) {
    padding: 90px;
  }
}

.contact2 {
  padding: 0;
}

.contact2__map {
  @media screen and (min-width: 540px) {
    padding: 0;
  }
}

.contact__headline3--margin-top,
.contact__headline2 {
  margin-top: 60px;
}

.contact__headline2 {
  @media screen and (min-width: 960px) {
    margin: 0;
  }
}

//Bílé pozadí a padding
.contact2 {
  background-color: colors.$color-white;
}

//Barvy odkaz
.contact__email {
  color: #228b22;
}

.contact__email:hover,
.contact__email:active,
.contact__email:focus {
  color: #606060;
}

//Kontaktní formulář velikost
.contact__form {
  width: 100%;

  @media screen and (min-width: 540px) {
    width: 70%;
  }

  @media screen and (min-width: 960px) {
    width: 80%;
    margin-top: base.$spacer;
  }
}

//Formulář labels
.contact__form-label {
  display: block;
  font-size: 14px;
  margin-top: 10px;

  @media screen and (min-width: 540px) {
    font-size: 15px;
  }

  @media screen and (min-width: 960px) {
    font-size: base.$body-text;
  }
}

//Formulář červená hvězdička
.contact__form-label-required:after {
  content: "*";
  color: red;
  margin-left: 4px;
}

//Formulářová pole
.contact__form-input,
.contact__form-textarea {
  width: 100%;
}

.contact__form-input {
  height: 30px;
}

.contact__form-input:focus,
.contact__form-textarea:focus {
  outline: none;
  border: 3px solid colors.$color-primary;
}

//Formulář button
.contact__form-button {
  padding: 10px 15px;
  margin-top: 20px;
  background-color: colors.$color-primary;
  color: colors.$color-white;
  font-size: 16px;
  font-family: base.$default-font;
  border: 1.5px solid black;
  cursor: pointer;
}

.contact__form-button:hover,
.contact__form-button:active,
.contact__form-button:focus {
  background-color: #606060;
}

//Kontakt - mapa
.contact2__map-window {
  width: 100%;
  height: 300px;
  border: none;

  @media screen and (min-width: 540px) {
    height: 350px;
  }

  @media screen and (min-width: 960px) {
    height: 500px;
  }
}

//Flexbox pro PC
@media screen and (min-width: 960px) {
  .contact__flexbox {
    display: flex;
    gap: 90px;
  }

  .contact__flexbox-item {
    flex: 0 0 50%;
  }
}
