@use 'colors';
@use 'base';

//Stránka Vybavení pro mobil, tablet i PC


.facilities {

  @media screen and (min-width: 960px) {
    padding-top: 200px;
  }
  
}

.facilities2 {
  background-color: colors.$color-white;
}





//Nadpisy pro mobil, tablet i PC
.facilities__headline {
  font-size: 25px;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 540px) {
    font-size: 30px;
    margin-bottom: base.$spacer;
  }

  @media screen and (min-width: 960px) {
    font-size: 35px;
  }
}

.facilities__headline::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: colors.$color-primary;
  margin-top: base.$body-text;
}

.facilities__headline2 {
  font-size: 20px;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 540px) {
    font-size: 23px;
    margin: 0;
  }

  @media screen and (min-width: 960px) {
    font-size: 26px;
  }
}

.facilities__headline2::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: colors.$color-primary;
  margin-top: base.$body-text;
}

//Stránka Vybavení obsah a grid ikony

.facilities__content-left {
  padding: base.$spacer;

  @media screen and (min-width: 540px) {
    padding: 0;
  }
}

.grid__item {
  display: flex;
  margin: base.$spacer;
  align-items: center;

  @media screen and (min-width: 540px) {
    margin-bottom: 0;
  }
}

.facilities__icon {
  width: 50px;
  height: 50px;
  margin-right: base.$spacer;
}

.facilities__image {
  @media screen and (min-width: 540px) {
    margin-top: base.$spacer;
  }
}

.facilitites__grid {
  @media screen and (min-width: 540px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 960px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.grid__item--padding-bottom {
  padding-bottom: 60px;
  margin-bottom: 0;

  @media screen and (min-width: 540px) {
    padding: 0;
  }
}

//Specifika pro PC 960 px a více

@media screen and (min-width: 960px) {
  .facilities__content {
    display: flex;
  }

  .facilities__content-left {
    flex: 0 0 60%;
  }

  .facilities__content-image {
    flex: 0 0 40%;
  }

  .facilities__image {
      padding-left: 50px;
      margin: 0;
  }
}


