@use "colors";
@use "base";

//Sekce Vybavení

//Padding

.facilities__content-left,
.facilities2__content-left {
  padding: base.$spacer;

  @media screen and (min-width: 540px) {
    padding: 0;
  }

  @media screen and (min-width: 960px) {
    flex: 0 0 50%;
  }
}

//Bílá barva pozadí
.facilities2 {
  background-color: colors.$color-white;
}

//Flexbox
.facilities__grid-item,
.facilities2__grid-item {
  display: flex;
  margin: base.$spacer;
  align-items: center;

  @media screen and (min-width: 540px) {
    margin-bottom: 0;
  }
}

//Ikony
.facilities__icon,
.facilities2__icon {
  width: 40px;
  height: 40px;
  margin-right: base.$spacer;
}

//Grid - ikony
.facilitites__grid,
.facilitites2__grid {
  @media screen and (min-width: 540px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 960px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.facilities2__grid-item--padding-bottom {
  padding-bottom: 60px;
  margin-bottom: 0;

  @media screen and (min-width: 540px) {
    padding: 0;
  }
}

//Obrázky
.facilities__image,
.facilities2__image {
  @media screen and (min-width: 540px) {
    margin-top: base.$spacer;
  }

  @media screen and (min-width: 960px) {
    margin: 0;
  }
}

//Specifika pro PC 960 px a více
@media screen and (min-width: 960px) {
  .facilities__content,
  .facilities2__content {
    display: flex;
  }

  .facilities__content-image,
  .facilities2__content-image {
    flex: 0 0 50%;
    padding-left: 50px;
  }
}

//Odkazy barvy
.facilities2__link {
  color: #228b22;
}

.facilities2__link:hover,
.facilities2__link:active,
.facilities2__link:focus {
  color: #606060;
}
