@use "colors";
@use "base";

//Footer

//Footer padding, font-size, barvy
.footer {
  color: colors.$color-white;
  background-color: colors.$color-primary;
  padding: base.$spacer;
  font-size: 13px;

  @media screen and (min-width: 540px) {
    font-size: 14px;
    padding: 60px;
  }

  @media screen and (min-width: 960px) {
    font-size: 16px;
    padding: 90px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 2fr;
    gap: 20px;
  }
}

//Kontakty
.footer__contact,
.footer__menu,
.footer__tips {
  margin: base.$spacer 0;

  @media screen and (min-width: 960px) {
    margin: 0;
  }
}

//E-mail odkaz
.footer__email,
.footer__facebook-link {
  color: colors.$color-white;
  text-decoration: none;
}

.footer__email:hover,
.footer__email:focus,
.footer__email:active,
.footer__facebook-link:hover,
.footer__facebook-link:focus,
.footer__facebook-link:active {
  text-decoration: underline;
}

//Ikona Facebook
.footer__facebook {
  width: 35px;
  display: block;
  margin-top: 15px;
}

//Footer menu
.footer__list {
  list-style: none;
  padding: 0;
  padding-top: 16px;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 20px;
}

.footer__list-link {
  color: colors.$color-white;
  font-weight: bold;
  text-decoration: none;
}

.footer__list-link:hover,
.footer__list-link:focus,
.footer__list-link:active {
  text-decoration: underline;
}

.footer__list-link--active {
  text-decoration: underline;
}

//Copyright
.footer__copyright {
  font-size: 13px;

  @media screen and (min-width: 540px) {
    font-size: 14px;
  }

  @media screen and (min-width: 960px) {
    font-size: 15px;
    display: flex;
  }
}

.footer__copyright-text {
  margin: 20px;
}

.footer__copyright-link {
  color: colors.$color-black;
  display: block;
  margin: 20px;
}

.footer__copyright-link:hover,
.footer__copyright-link:focus,
.footer__copyright-link:active {
  text-decoration: none;
}

//Ikony kontakty - adresa, telefon, e-mail, facebook
.footer__icon-address,
.footer__icon-phone,
.footer__icon-mail,
.footer__icon-facebook {
  width: 20px;
  margin-right: 10px;
}

.footer__icon-facebook {
  width: 20px;
}

.footer__contact-address,
.footer__contact-phone,
.footer__contact-mail,
.footer__contact-facebook {
  display: flex;
  align-items: center;
}

//Tipy na výlety seznam
.footer__list2 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list2-item {
  margin-bottom: 20px;
}

.footer__list2-link {
  color: colors.$color-white;
  text-decoration: none;
}

.footer__list2-link:active,
.footer__list2-link:focus,
.footer__list2-link:hover {
  text-decoration: underline;
}

.footer__tips-flex {
  padding-top: 16px;

  @media screen and (min-width: 960px) {
    display: flex;
    gap: base.$spacer;
  }
}

//Linky
.footer__line {
  @media screen and (min-width: 960px) {
    display: none;
  }
}
