@use 'colors';
@use 'base';

//Footer

//Footer padding, font-size, barvy
.footer {
  color: colors.$color-white;
  background-color: colors.$color-primary;
  padding: base.$spacer;
  font-size: 14px;

  @media screen and (min-width: 540px) {
    display: flex;
    font-size: 15px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 0;
  }

  @media screen and (min-width: 960px) {
    font-size: base.$body-text;
    padding-left: 90px;
    padding-right: 90px;
  }
}

//Adresa a kontakty
.footer__address,
.footer__contact {
  margin-bottom: 40px;

  @media screen and (min-width: 540px) {
    margin-right: 40px;
    margin-bottom: 0;
  }
}

//E-mail odkaz
.footer__email-link {
  color: colors.$color-white;
  text-decoration: none;
}

.footer__email-link:hover,
.footer__email-link:focus,
.footer__email-link:active {
  text-decoration: underline;
}

//Facebook logo
.footer__facebook-logo {
  width: 40px;

  @media screen and (min-width: 540px) {
    width: 45px;
  }

  @media screen and (min-width: 960px) {
    margin: 0 auto;
    display: block;
  }
}

//Copyright
.footer__copyright {
  text-align: center;
  font-size: 14px;

  @media screen and (min-width: 540px) {
    font-size: 15px;
  }

  @media screen and (min-width: 960px) {
    font-size: base.$body-text;
  }
}
