@use 'colors';
@use 'base';

//Stránka Galerie

//Paddingy
.gallery {
  @media screen and (min-width: 960px) {
    padding-top: 200px;
  }
}

.gallery__image--padding-bottom {
  padding-bottom: 60px;

  @media screen and (min-width: 540px) {
    padding: 0;
  }
}

//Nadpis
.gallery__headline {
  padding: base.$spacer 0 0 base.$spacer;

  @media screen and (min-width: 540px) {
    padding: 0;
  }
}

//Grid pro PC
@media screen and (min-width: 960px) {
  .gallery__grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 3px;
  }

  .gallery__image--grid {
    grid-column: 1 / -1;
  }
}
