@use 'colors';
@use 'base';

//Stránka Galerie pro mobil, tablet i PC

.gallery {
  @media screen and (min-width: 960px) {
    padding-top: 200px;
  }
}

  



//Galerie h1
.gallery__headline {
  padding: base.$spacer 0 0 base.$spacer;

  @media screen and (min-width: 540px) {
    padding: 0;
  }
}

// Galerie grid pro PC

@media screen and (min-width: 960px) {
  .gallery__grid {
    margin-top: 50px;  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 3px;
  }

  .gallery__image--grid {
    grid-column: 1 / -1;
  }
}
