@use 'colors';
@use 'base';

//Header

//Kontakty - telefon, e-mail
.header__contact {
  background-color: colors.$color-primary;
  color: colors.$color-white;
  font-size: 14px;

  @media screen and (min-width: 540px) {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
  }

  @media screen and (min-width: 960px) {
    font-size: base.$body-text;
  }
}

.header__contact-phone,
.header__contact-email {
  padding: 6px 15px;
  margin: 0;
  color: colors.$color-white;
  display: block;
}

.header__contact-email {
  text-decoration: none;
  padding-top: 0;

  @media screen and (min-width: 540px) {
    padding-top: 7px;
  }
}

.header__contact-email:hover,
.header__contact-email:focus,
.header__contact-email:active {
  text-decoration: underline;
}

//Ikony kontakty - telefon, e-mail
.header__icon-phone {
  height: 15px;
  width: 15px;
  margin-right: 8px;
}

.header__contact-phone,
.header__contact-email {
  display: flex;
  align-items: center;
}

.header__icon-mail {
  width: 18px;
  margin-right: 8px;
}

//Logo - text, odkaz, ikona
//Logo text
.header__logo-text {
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px 15px 15px 0;
  background-color: colors.$color-white;
  font-weight: bold;

  @media screen and (min-width: 540px) {
    font-size: 24px;
  }
}

.header__logo-text--break {
  @media screen and (min-width: 540px) {
    display: none;
  }
}

//Logo odkaz
.header__logo-link {
  text-decoration: none;
  color: colors.$color-black;
  display: flex;
  align-items: center;
}

//Logo ikona
.header__logo-image {
  width: 50px;
  height: 50px;
  margin: 8px;

  @media screen and (min-width: 960px) {
    margin-left: 10px;
  }
}

//Bílé pozadí lišty menu
.header__menu {
  background-color: colors.$color-white;
}
