@use "colors";
@use "base";

//Homepage

//Padding
.homepage__content-left,
.homepage2__content-right {
  padding: base.$spacer;

  @media screen and (min-width: 540px) {
    padding: 0;
  }

  @media screen and (min-width: 960px) {
    flex: 0 0 50%;
  }
}

//Obrázek
.homepage__image {
  margin-bottom: base.$spacer;

  @media screen and (min-width: 540px) {
    margin: base.$spacer 0 0 0;
    //border-radius: 100px 0 100px 100px;
    //border: 5px solid colors.$color-primary;
  }

  @media screen and (min-width: 960px) {
    margin: 0;
  }
}

.homepage2__image {
  width: 100%;
  margin-bottom: base.$spacer;

  @media screen and (min-width: 540px) {
    margin: base.$spacer 0 0 0;
    //border-radius: 100px 100px 100px 0;
    //border: 5px solid colors.$color-primary;
  }

  @media screen and (min-width: 960px) {
    margin: 0;
  }
}

//Specifika pro PC
@media screen and (min-width: 960px) {
  .homepage__content,
  .homepage2__content {
    display: flex;
  }

  .homepage2__content {
    flex-direction: row-reverse;
  }

  .homepage__content-image,
  .homepage2__content-right {
    padding-left: 50px;
  }

  .homepage2__content-image {
    flex: 0 0 50%;
  }
}

//Odkazy barvy
.homepage__link {
  color: #228b22;
}

.homepage__link:hover,
.homepage__link:active,
.homepage__link:focus {
  color: #606060;
}

//Bílé pozadí
.homepage2 {
  background-color: colors.$color-white;
}

//Glide slide
.glide__slide img {
  width: 100%;
}

.glide__slides {
  padding: 0;
  margin: 0;
}

.glide__section {
  padding: 0;
  margin: 0;
  background-color: colors.$color-white;
  display: none;

  @media screen and (min-width: 540px) {
    display: block;
  }
}

//Hero
.homepage__hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/images/velke/foto18.jpg);
  background-color: colors.$color-white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: none;

  @media screen and (min-width: 540px) {
    display: block;
    height: 250px;
  }

  @media screen and (min-width: 960px) {
    height: 350px;
  }
}
