@use 'colors';
@use 'base';

//Main pro homepage mobil,tablet a PC

section {
  @media screen and (min-width: 540px) {
    padding: 60px;
  }

  @media screen and (min-width: 960px) {
    padding: 90px;
  }
}

.homepage2 {
  background-color: colors.$color-white;
}

.homepage__content-left,
.homepage__content2-right {
  padding: base.$spacer;

  @media screen and (min-width: 540px) {
    padding: 0;
  }

  @media screen and (min-width: 960px) {
    padding: 0;
    flex: 0 0 50%;
  }
}

//Nadpisy H1 a H2 pro mobil, tablet i PC

.homepage__headline {
  font-size: 25px;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 540px) {
    font-size: 30px;
    margin-bottom: base.$spacer;
  }

  @media screen and (min-width: 960px) {
    font-size: 35px;
  }
}

.homepage__headline2 {
  font-size: 20px;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 540px) {
    font-size: 23px;
  }

  @media screen and (min-width: 960px) {
    font-size: 26px;
  }
}

.homepage__headline::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: colors.$color-primary;
  margin-top: base.$body-text;
}

.homepage__headline2::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: colors.$color-primary;
  margin-top: base.$body-text;
}

//Obrázek a mapa pro mobil, tablet i PC

.homepage__image {
  margin-bottom: base.$spacer;

  @media screen and (min-width: 540px) {
    margin: base.$spacer 0 0 0;
  }

  @media screen and (min-width: 960px) {
    margin: 0;
  }
}

.homepage__map {
  width: 100%;
  height: 300px;
  margin-bottom: 60px;

  @media screen and (min-width: 540px) {
    height: 350px;
    margin: base.$spacer 0 0 0;
  }

  @media screen and (min-width: 960px) {
    margin: 0;
  }
}

//Main pro homepage specifika pro PC

@media screen and (min-width: 960px) {
  .homepage__content,
  .homepage__content2 {
    display: flex;
  }

  .homepage__content2 {
    flex-direction: row-reverse;
  }

  .homepage__content-image,
  .homepage__content2-right {
    padding-left: 50px;
  }

  .homepage__content-map {
    flex: 0 0 50%;
  }
}

//Barvy odkazy obsah stránek

.homepage__link,
.facilities__link {
  color: #228b22;
}

.homepage__link:hover,
.homepage__link:active,
.homepage__link:focus,
.facilities__link:hover,
.facilities__link:active,
.facilities__link:focus {
  color: 	#606060;
}

//Pro Main pozadí obrázek hlavička pro mobil a tablet a PC

.header__image {
  background: url(./../images/header.jpg) no-repeat center/cover;
  height: 300px;

  @media screen and (min-width: 540px) {
    height: 350px;
  }

  @media screen and (min-width: 960px) {
    height: 700px;
  }
}
