@use "colors";
@use "base";

//Menu

//Menu pro mobil, tablet, PC
.menu__list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 630px) {
    display: flex;
  }
}

//Toggler, hamburger menu
.menu__toggler {
  font-size: 20px;
  padding: 15px;
  display: block;
  cursor: pointer;
  background-color: colors.$color-white;

  @media screen and (min-width: 630px) {
    display: none;
  }
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
}

//Položky menu a jejich borders
.menu__item {
  border-bottom: 2px solid colors.$color-grey;

  @media screen and (min-width: 630px) {
    border: none;
    flex: 1 1 100%;
  }

  @media screen and (min-width: 960px) {
    flex-basis: auto;
  }
}

.menu__item--border-top {
  border-top: 2px solid colors.$color-grey;

  @media screen and (min-width: 630px) {
    border-top: none;
  }
}

.menu__item--border-right {
  border: none;
}

//Odkazy
.menu__link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: colors.$color-black;
  background-color: colors.$color-white;
  text-align: center;
  font-size: 16px;

  @media screen and (min-width: 630px) {
    font-size: 17px;
  }

  @media screen and (min-width: 960px) {
    font-size: 18px;
    padding: 25px 15px;
  }
}

//Odkazy aktivní
.menu__link:hover,
.menu__link:active,
.menu__link:focus {
  color: colors.$color-white;
  background-color: colors.$color-primary;
}

//Menu specifikace pro PC
@media screen and (min-width: 960px) {
  .header {
    left: 0;
    right: 0;
    box-shadow: 0 8px 6px -6px colors.$color-primary;
  }

  .header__menu {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
}

//Aktivní menu
.menu__link--active {
  color: colors.$color-white;
  background-color: colors.$color-primary;

  @media screen and (min-width: 630px) {
    color: colors.$color-black;
    background-color: colors.$color-white;
    box-shadow: 0px -5px 0px 0px colors.$color-primary inset;
  }
}
