@use "colors";
@use "base";

//Stránka Degustace

//Padding
.tasting {
  padding: base.$spacer;

  @media screen and (min-width: 540px) {
    padding: 60px;
  }

  @media screen and (min-width: 960px) {
    padding: 90px;
  }
}

//Flexbox, první část strany
.tasting__flexbox {
  @media screen and (min-width: 960px) {
    display: flex;
    align-items: center;
  }
}

.tasting__flexbox-item {
  @media screen and (min-width: 960px) {
    flex: 0 0 60%;
  }
}

//Fotka děda
.tasting__image {
  margin-bottom: base.$spacer;

  @media screen and (min-width: 540px) {
    object-fit: cover;
    border: 5px solid colors.$color-primary;
    border-radius: 100px 0 100px 100px;
    margin: 0 auto 60px auto;
    max-width: 400px;
    display: block;
  }

  @media screen and (min-width: 960px) {
    padding: 0;
    max-height: 400px;
    margin-right: 90px;
  }
}

//Bílé pozadí
.tasting2 {
  background-color: colors.$color-white;
}

//Rámeček a padding pro menu
.tasting2__content {
  padding: base.$spacer;

  @media screen and (min-width: 540px) {
    padding: 0;
  }

  @media screen and (min-width: 960px) {
    padding: 15px;
    padding-right: 50px;
  }
}

.tasting2__content--padding-left {
  @media screen and (min-width: 540px) {
    padding: 0;
  }

  @media screen and (min-width: 960px) {
    padding-right: 15px;
    padding-left: 50px;
  }
}

//Obrázky
.tasting2__image {
  @media screen and (min-width: 540px) {
    margin-bottom: 60px;
    margin-top: 30px;
    border: 5px solid colors.$color-primary;
    border-radius: 100px;
  }
}

//Border-radius obrázků
.tasting2__image--border-radius1 {
  @media screen and (min-width: 540px) {
    border-top-right-radius: 0;
  }
}

.tasting2__image--border-radius2 {
  @media screen and (min-width: 540px) {
    border-top-left-radius: 0;
  }
}

.tasting2__image--border-radius3 {
  @media screen and (min-width: 540px) {
    border-bottom-right-radius: 0;
  }
}

.tasting2__image--margin-bottom {
  @media screen and (min-width: 540px) {
    margin-bottom: 0;
  }
}

//Flexbox, obrázky a menu
.tasting2__flexbox {
  @media screen and (min-width: 960px) {
    display: flex;
  }
}

.tasting2__flexbox--reverse {
  @media screen and (min-width: 960px) {
    flex-direction: row-reverse;
  }
}

.tasting2__flexbox-item {
  @media screen and (min-width: 960px) {
    flex: 0 0 50%;
  }
}

.tasting2__content {
  @media screen and (min-width: 960px) {
    margin-bottom: 60px;
  }
}

.tasting2__flexbox-item--padding-bottom {
  padding-bottom: 60px;

  @media screen and (min-width: 540px) {
    padding-bottom: 0;
  }
}

.tasting2__content--margin-bottom {
  @media screen and (min-width: 960px) {
    margin: 0;
  }
}

.tasting2__price {
  color: colors.$color-white;
  background-color: colors.$color-primary;
  text-align: center;
  padding: 8px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.tasting2__content-flexbox {
  @media screen and (min-width: 540px) {
    display: flex;
    justify-content: space-between;
  }
}
