@use 'colors';
@use 'base';

//Stránka Degustace

.tasting1 {
  padding: base.$spacer;

  @media screen and (min-width: 540px) {
    padding: 60px;
  }

  @media screen and (min-width: 960px) {
    padding: 200px 90px 90px 90px;
  }
}

.tasting2 {
  background-color: colors.$color-white;
}


.tasting2__content {
  padding: base.$spacer;

  @media screen and (min-width: 540px) {
    padding: 15px;
    border: solid 3px colors.$color-primary;
  }
}





//Obrázky
.tasting2__image {
  @media screen and (min-width: 540px) {
    margin: base.$spacer 0 60px 0;
  }

  @media screen and (min-width: 960px) {
    margin: 0;
  }
}

//Flexbox
.tasting2__flexbox{
    @media screen and (min-width: 960px) {
     display: flex;
     flex-direction: row-reverse;
    }
  }

  .tasting2__flexbox-item {
    @media screen and (min-width: 960px) {
       flex: 0 0 40%;
       margin: 0 base.$spacer base.$spacer 0;
    }
  }

  .tasting2__content {
    @media screen and (min-width: 960px) {
        flex: 0 0 60%;
        margin-bottom: base.$spacer;
    }
  }


