<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Nabízíme ubytování a degustace vín v rodinném penzionu s vinným sklepem ve Velkých Bílovicích."
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Eva Marko" />
    <title>{{ title }}</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/glide.core.min.css" />
    <link rel="stylesheet" href="/css/glide.theme.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="canonical" href="https://www.penzionuvinohradu.cz{{ link }}" />
    <link
      rel="alternate"
      hreflang="cs-cs"
      href="https://www.penzionuvinohradu.cz{{ link }}"
    />
  </head>

  <body>
    <!-- Sekce Header & Menu -->
    <header class="header">
      <div class="header__contact">
        <div class="header__contact-phone">
          <img
            class="header__icon-phone"
            src="/images/icons/ikona-telefon.png"
            alt="Ikona telefon"
          />
          <div>+ 420 723 918 464 (Po-So 8-18 hod.)</div>
        </div>

        <a
          class="header__contact-mail"
          href="mailto:info&#64;penzionuvinohradu.cz"
        >
          <img
            class="header__icon-mail"
            src="/images/icons/ikona-e-mail.png"
            alt="Ikona e-mail"
          />
          <div>
            &#105;&#110;&#102;&#111;&#64;&#112;&#101;&#110;&#122;&#105;&#111;&#110;&#117;&#118;&#105;<!-- >@. -->&#110;&#111;&#104;<!-- >@. -->&#114;&#97;&#100;<!-- >@. -->&#117;&#46;&#99;&#122;
          </div></a
        >
      </div>

      <div class="header__menu">
        <a class="header__logo-link" href="/"
          ><img
            class="header__logo-image"
            src="/images/icons/logo.png"
            alt="Logo webu zelený hrozen"
          />
          <div class="header__logo-text">
            Penzion <br class="header__logo-text--break" />
            U Vinohradu
          </div>
        </a>

        <nav class="menu">
          <input type="checkbox" class="menu__checkbox" id="menu-checkbox" />
          <label for="menu-checkbox" class="menu__toggler">☰ Menu</label>

          <ul class="menu__list">
            <li class="menu__item menu__item--border-top">
              <a
                class="menu__link {{ 'menu__link--active' if page.fileSlug === '' }}"
                href="/"
                >O penzionu</a
              >
            </li>
            <li class="menu__item">
              <a
                class="menu__link {{ 'menu__link--active' if page.fileSlug === 'ubytovani' }}"
                href="/ubytovani/"
                >Ubytování</a
              >
            </li>
            <li class="menu__item">
              <a
                class="menu__link {{ 'menu__link--active' if page.fileSlug === 'degustace' }}"
                href="/degustace/"
                >Degustace</a
              >
            </li>
            <li class="menu__item">
              <a
                class="menu__link {{ 'menu__link--active' if page.fileSlug === 'galerie' }}"
                href="/galerie/"
                >Galerie</a
              >
            </li>
            <li class="menu__item menu__item--border-right">
              <a
                class="menu__link {{ 'menu__link--active' if page.fileSlug === 'kontakt' }}"
                href="/kontakt/"
                >Kontakt</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- Konec sekce Header & Menu -->

    <main class="main">
      {{ content | safe }}
    </main>

    <!-- Sekce Footer -->
    <footer class="footer">
      <div class="footer__contact">
        <h3 class="footer__headline3">Kontakt</h3>
        <div class="footer__contact-address">
          <img
            class="footer__icon-address"
            src="/images/icons/ikona-adresa.png"
            alt="Ikona adresa"
          />
          <p class="footer__contact-address--no-margin">
            Púrynky - Pod Panskýma ev. č. 631,<br />
            691 02 Velké Bílovice
          </p>
        </div>
        <div class="footer__contact-phone">
          <img
            class="footer__icon-phone"
            src="/images/icons/ikona-telefon.png"
            alt="Ikona telefon"
          />
          <p>+420 723 918 464 (Po-So 8-18 hod.)</p>
        </div>
        <div class="footer__contact-mail">
          <img
            class="footer__icon-mail"
            src="/images/icons/ikona-e-mail.png"
            alt="Ikona e-mail"
          />
          <p>
            <a
              class="footer__email"
              href="mailto:info&#64;penzionuvinohradu.cz"
            >
              &#105;&#110;&#102;&#111;&#64;&#112;&#101;&#110;&#122;&#105;&#111;&#110;&#117;&#118;&#105;<!-- >@. -->&#110;&#111;&#104;<!-- >@. -->&#114;&#97;&#100;<!-- >@. -->&#117;&#46;&#99;&#122;</a
            >
          </p>
        </div>
        <div class="footer__contact-facebook">
          <img
            class="footer__icon-facebook"
            src="/images/icons/ikona-facebook.png"
            alt="Ikona Facebook"
          />
          <p>
            <a
              class="footer__facebook-link"
              href="https://www.facebook.com/Vinn%C3%BD-sklep-a-penzion-U-Vinohradu-205435942830300/"
            >
              Vinný sklep a penzion U Vinohradu</a
            >
          </p>
        </div>
      </div>

      <hr class="footer__line" />

      <div class="footer__menu">
        <h3 class="footer__headline3">Menu</h3>
        <div>
          <ul class="footer__list">
            <li class="footer__list-item">
              <a
                class="footer__list-link {{ 'footer__list-link--active' if page.fileSlug === '' }}"
                href="/"
                >O penzionu</a
              >
            </li>
            <li class="footer__list-item">
              <a
                class="footer__list-link {{ 'footer__list-link--active' if page.fileSlug === 'ubytovani' }}"
                href="/ubytovani/"
                >Ubytování</a
              >
            </li>
            <li class="footer__list-item">
              <a
                class="footer__list-link {{ 'footer__list-link--active' if page.fileSlug === 'degustace' }}"
                href="/degustace/"
                >Degustace</a
              >
            </li>
            <li class="footer__list-item">
              <a
                class="footer__list-link {{ 'footer__list-link--active' if page.fileSlug === 'galerie' }}"
                href="/galerie/"
                >Galerie</a
              >
            </li>
            <li class="footer__list-item">
              <a
                class="footer__list-link {{ 'footer__list-link--active' if page.fileSlug === 'kontakt' }}"
                href="/kontakt/"
                >Kontakt</a
              >
            </li>
          </ul>
        </div>
      </div>

      <hr class="footer__line" />

      <div class="footer__tips">
        <h3 class="footer__headline3">Tipy na výlety</h3>

        <div class="footer__tips-flex">
          <ul class="footer__list2">
            <li class="footer__list2-item">
              <a class="footer__list2-link" href="https://www.velkebilovice.cz/"
                >Velké Bílovice</a
              >
            </li>
            <li class="footer__list2-item">
              <a
                class="footer__list2-link"
                href="https://www.kudyznudy.cz/aktivity/pamatky-a-priroda-lednicko-valtickeho-arealu"
                >Lednicko-valtický areál</a
              >
            </li>
            <li class="footer__list2-item">
              <a
                class="footer__list2-link"
                href="https://www.sonnentor.com/cs-cz"
                >Sonnentor Čejkovice</a
              >
            </li>
            <li class="footer__list2-item">
              <a
                class="footer__list2-link"
                href="https://www.kudyznudy.cz/aktivity/chranena-krajinna-oblast-palava"
                >CHKO Pálava</a
              >
            </li>
            <li class="footer__list2-item">
              <a
                class="footer__list2-link"
                href="https://www.kudyznudy.cz/kam-pojedete/jizni-morava/palava-a-lednicko-valticky-areal/mikulov"
                >Město Mikulov</a
              >
            </li>
          </ul>

          <ul class="footer__list2">
            <li class="footer__list2-item">
              <a class="footer__list2-link" href="https://www.nechory.cz/"
                >Vinné sklepy Nechory</a
              >
            </li>
            <li class="footer__list2-item">
              <a
                class="footer__list2-link"
                href="https://www.kudyznudy.cz/aktivity/nove-mlyny-kaskada-tri-vodnich-nadrzi-pod-palavo"
                >Nové Mlýny</a
              >
            </li>
            <li class="footer__list2-item">
              <a
                class="footer__list2-link"
                href="https://www.aqualand-moravia.cz/"
                >Aqualand Moravia</a
              >
            </li>
            <li class="footer__list2-item">
              <a
                class="footer__list2-link"
                href="http://www.masaryk.info/slovanske-hradiste-mikulcice/"
                >Slovanské hradiště Mikulčice</a
              >
            </li>
            <li class="footer__list2-item">
              <a
                class="footer__list2-link"
                href="https://www.levandulezmoravy.cz/"
                >Levandulová farma Starovičky</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- Konec sekce Footer -->

    <!-- Sekce Copyright & GDPR -->
    <div class="footer__copyright">
      <p class="footer__copyright-text">
        &copy;2021-2025 Vinný sklep a penzion U Vinohradu
      </p>

      <a class="footer__copyright-link" href="/zasady-ochrany-osobnich-udaju/"
        >Zásady ochrany osobních údajů</a
      >
    </div>
    <!-- Konec sekce Copyright & GDPR -->

    <script src="/js/fslightbox.js"></script>
    <script
      type="text/javascript"
      src="https://www.cookie-lista.cz/BeeCookie/jquery-3.3.1.min.js"
    ></script>

    <!-- Sekce Cookie lišta -->
    <script
      type="text/javascript"
      src="https://www.cookie-lista.cz/jquery.ihavecookies.js"
    ></script>
    <script type="text/javascript">
      var options = {
        box_umisteni: "right:0;bottom:0;",
        box_sirka: "350px ",
        box_odsazeni: "10px ",
        box_odsazeni_obsah: "20px ",
        box_lhz: "10px ",
        box_phz: "10px ",
        box_psz: "10px ",
        box_lsz: "10px ",
        box_stin_hor: "0px ",
        box_stin_ver: "1px ",
        box_stin_roz: "13px ",
        box_stin_barva: "rgba(0,0,0,1)",
        pozadi_obrazek: "",
        pozadi_pruhlednost: "0",
        pozadi_umisteni: "center",
        pozadi_velikost: "cover",
        pozadi_opakovani: "no-repeat",
        pozadi_barva: "rgba(255,255,255,1)",
        zavrit_text: "Zavřít okno bez uložení změn",
        zavrit_color: "rgb(0,0,0)",
        zavrit_size: "11px ",
        zavrit_pozadi: "rgba(237,237,237,1)",
        zavrit_padding: "12px ",
        zavrit_zaobleni: "6px ",
        zavrit_marginleft: "66px ",
        zavrit_marginright: "0px ",
        zavrit_margintop: "-50px ",
        zavrit_marginbottom: "0px ",
        title: "🍪 Používáme Cookies",
        title_color: "rgb(0,0,0)",
        title_size: "27px ",
        popis:
          "Naše webové stránky používají soubory cookie. Soubory cookie jsou textové soubory, které jsou ukládány ve webovém prohlížeči nebo webovým prohlížečem v počítačovém systému uživatele. Pokud uživatel vyvolá webovou stránku, může být soubor cookie uložen v operačním systému uživatele. Tento soubor cookie obsahuje charakteristický řetězec, který umožňuje jednoznačnou identifikaci prohlížeče při opětovném vyvolání webové stránky.",
        popis_color: "rgb(0,0,0)",
        popis_size: "10px ",
        odkaz_text: "Více ...",
        odkaz_url: "https://www.cookie-lista.cz/co-je-cookies.html",
        odkaz_color: "rgb(255,0,0)",
        odkaz_color_hover: "rgb(0,0,0)",
        odkaz_size: "12px ",
        session_nadpis: "Vyberte, které soubory cookie chcete přijmout",
        session_nadpis_velikost: "12px ",
        session_nadpis_barva: "rgb(156,227,255)",
        session_text_barva: "rgb(255,255,255)",
        session_pozadi_barva: "rgba(0,0,0,0.58)",
        session_margin: "0px ",
        session_padding: "10px ",
        session_maxheight: "40vh ",
        tlacitko_1_text: "Povolit cookies",
        tlacitko_1_padding: "5px ",
        tlacitko_1_margin: "0px ",
        tlacitko_1_text_barva: "rgb(255,255,255)",
        tlacitko_1_pozadi: "rgb(3,173,0)",
        tlacitko_1_text_velikost: "15px ",
        tlacitko_1_text_barva_hover: "rgb(0,0,0)",
        tlacitko_1_pozadi_hover: "rgb(173,173,173)",
        tlacitko_1_radius: "5px ",
        tlacitko_2_text: "Vybrat cookies",
        tlacitko_2_padding: "5px ",
        tlacitko_2_margin: "15px ",
        tlacitko_2_text_barva: "rgb(255,255,255)",
        tlacitko_2_pozadi: "rgb(117,156,255)",
        tlacitko_2_text_velikost: "15px ",
        tlacitko_2_text_barva_hover: "rgb(0,0,0)",
        tlacitko_2_pozadi_hover: "rgb(173,173,173)",
        tlacitko_2_radius: "5px ",
        odkaz_1_nazev: "Vytvořte si vlastní cookie banner",
        odkaz_1_url: "https://www.cookie-lista.cz/",
        odkaz_2_nazev: "Cookie lišta v2.0",
        odkaz_2_url: "https://www.cookie-lista.cz/",
        odkaz_barva: "rgb(43,43,43)",
        odkaz_barva_hover: "rgb(0,0,0)",
        odkaz_mezera: "25px ",
        odkaz_velikost: "12px ",
        odkaz_target: "_blank",
        expirace: "365",
        zmena: "ano",
        tvurce: "ano",
        undefined: "",
        delay: 0,
        expires: "365",
        uncheckBoxes: true,
      };

      $(document).ready(function () {
        $("body").ihavecookies(options);
        if ($.fn.ihavecookies.preference("marketing") === true) {
          //alert('Marketing je akceptován.');
        }
        if ($.fn.ihavecookies.preference("analytics") === true) {
          //alert('Analytics je akceptován.');
        }
        if ($.fn.ihavecookies.preference("preferences") === true) {
          //alert('Preferences je akceptován.');
        }
        $("#ihavecookiesBtn").on("click", function () {
          $("#malybox").remove();
          $("body").ihavecookies(options, "reinit");
        });
      });
    </script>
    <!-- Konec sekce Cookie lišta -->
  </body>
</html>
