<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header class="header">
      <div class="header__contact">
        <p class="header__contact-phone">+ 420 723 918 464 (8-19 hod.)</p>

        <a class="header__contact-email" href="mailto:info@penzionuvinohradu.cz"
          >info@penzionuvinohradu.cz</a
        >
      </div>

      <div class="header__menu">
        <a class="header__logo-link" href="/"
          ><img
            class="header__logo-image"
            src="/images/logo.png"
            alt="Logo stránky hrozen"
          />
          <div class="header__logo-text">Vinný sklep a penzion U Vinohradu</div>
        </a>

        <nav class="menu">
          <input type="checkbox" class="menu__checkbox" id="menu-checkbox" />
          <label for="menu-checkbox" class="menu__toggler">☰ Menu</label>

          <ul class="menu__list">
            <li class="menu__item menu__item--border-top">
              <a
                class="menu__link {{ 'menu__link--active' if page.fileSlug === 'vybaveni' }}"
                href="/vybaveni/"
                >Vybavení</a
              >
            </li>
            <li class="menu__item">
              <a
                class="menu__link {{ 'menu__link--active' if page.fileSlug === 'ubytovani' }}"
                href="/ubytovani/"
                >Ubytování</a
              >
            </li>
            <li class="menu__item">
              <a
                class="menu__link {{ 'menu__link--active' if page.fileSlug === 'degustace' }}"
                href="/degustace/"
                >Degustace</a
              >
            </li>
            <li class="menu__item">
              <a
                class="menu__link {{ 'menu__link--active' if page.fileSlug === 'galerie' }}"
                href="/galerie/"
                >Galerie</a
              >
            </li>
            <li class="menu__item menu__item--border-right">
              <a
                class="menu__link {{ 'menu__link--active' if page.fileSlug === 'kontakt' }}"
                href="/kontakt/"
                >Kontakt</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="main">
      {{ content | safe }}
    </main>

    <footer class="footer">
      <div class="footer__contact">
        <p>
          Púrynky - Pod Panskýma 631<br />
          691 02 Velké Bílovice<br />
        </p>
        <p>+420 723 918 464 (8-19 hod.)</p>
        <a class="footer__email" href="mailto:info@penzionuvinohradu.cz"
          >info@penzionuvinohradu.cz</a
        >
        <a
          href="https://www.facebook.com/Vinn%C3%BD-sklep-a-penzion-U-Vinohradu-205435942830300"
          ><img
            class="footer__facebook"
            src="/images/facebook.png"
            alt="Ikona Facebook"
        /></a>
      </div>

      <div class="footer__menu">
        <ul class="footer__list">
          <li class="footer__list-item">
            <a
              class="footer__list-link {{ 'footer__list-link--active' if page.fileSlug === 'vybaveni' }}"
              href="/vybaveni/"
              >Vybavení</a
            >
          </li>
          <li class="footer__list-item">
            <a
              class="footer__list-link {{ 'footer__list-link--active' if page.fileSlug === 'ubytovani' }}"
              href="/ubytovani/"
              >Ubytování</a
            >
          </li>
          <li class="footer__list-item">
            <a
              class="footer__list-link {{ 'footer__list-link--active' if page.fileSlug === 'degustace' }}"
              href="/degustace/"
              >Degustace</a
            >
          </li>
          <li class="footer__list-item">
            <a
              class="footer__list-link {{ 'footer__list-link--active' if page.fileSlug === 'galerie' }}"
              href="/galerie/"
              >Galerie</a
            >
          </li>
          <li class="footer__list-item">
            <a
              class="footer__list-link {{ 'footer__list-link--active' if page.fileSlug === 'kontakt' }}"
              href="/kontakt/"
              >Kontakt</a
            >
          </li>
        </ul>
      </div>
    </footer>
    <div class="footer__copyright">
      <p class="footer__copyright-text">
        ©2021, Vinný sklep a penzion U Vinohradu
      </p>
    </div>
    <script src="/js/fslightbox.js"></script>
  </body>
</html>
